<!doctype html>
<html lang="en">
  <script>
    function showPicture() {
      var sourceOfPicture = "{{ url_for('video_feed') }}";
      var img = document.getElementById('bg')
      img.src = sourceOfPicture.replace('90x90', '225x225');
      img.style.display = "block";
    } 
  </script>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="cccc.png" rel="icon">
        <link href="cccc.png" rel="apple-touch-icon">
      
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/register.css">
        <title>Yolo</title>
        <style>
            .fixed-footer{
                width: 100%;
                text-align: center;
                position: fixed;
                padding: 50px 0;
                color: black;
                
            }
        
            .fixed-footer{
                bottom: 0;
            }
        </style>

    </head>
    <body >
        <div class="align-items-center light-blue-gradient " style="height: 100vh ;">
        
            <div class="container" >
                <h1  style="text-align: center;font-family:'Times New Roman', Times, serif; font-weight: 800 ; padding-top: 5%;">Real-Time Object Detection with Yolo</h1>
                
                
                <div class='align-items-center'>
                  
                  <form action="{{ url_for('setting_inputs') }}" method="post" >

                    <div class='row mt-5 '>
                    <div class=" col form-group ">
                      <label  for="model" class="h3 mb-3 font-weight-normal" style="font-family:'Times New Roman', Times, serif; ">Weight Name</label><br>
                  
                      <select name="weight" style="font-family:'Times New Roman', Times, serif;" class="h4 ml-1 mb-3 font-weight-normal" id="weight" required="required">
                          <option value="./checkpoints/yolov4-416" style="font-family:'Times New Roman', Times, serif;">yolov4-Pizza</option>
                          <option value="./checkpoints/yolov4-custom_tire_2000-416" style="font-family:'Times New Roman', Times, serif;">yolov4-Tire</option>
                          <option value="./checkpoints/yolov4-obj_cup_last-416" style="font-family:'Times New Roman', Times, serif;">yolov4-Defective-Cup</option> 
                      </select>
                      
                  </div>
                  
                  <div class="col form-group ">
                    <label for="file" class="h3 mb-3 mt-2 ml-5 font-weight-normal" style="font-family:'Times New Roman', Times, serif;">File Name</label>
                
                    <input type="file" class="h5  " id="file" name="file" style="font-family:'Times New Roman', Times, serif;" required autofocus>
                    
                </div>
                <button class="btn  btn-primary form-group btn-md ml-3" type="submit" style="font-family:'Times New Roman', Times, serif;">Load weights & File </button><br>
                </div>
                
                  </form>
                  <div class='center'>
                    <button class=" btn btn-lg btn-primary mr-3" onclick="showPicture()" type="submit" style="font-family:'Times New Roman', Times, serif;">Start Object Detection</button>
      

                  </div>
                  
                 
    </div>
</div>
<div>
  <div class='align-items-center'>
  <img id="bg" class="center mt-3" src="http://img.tesco.com/Groceries/pi/118/5000175411118/IDShot_90x90.jpg"  style="display:none;width:80%">
</div>
</div>

                </div>
        

                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            </div>
    </body>
</html>

