<!--
    
  <div>
    <form action="{{ url_for('setting_inputs') }}" method="post" >
      
      <label for='model' class="h3 mb-3 font-weight-normal">Weight Name</label>
      <input type="text" id="weight" name="weight">
      <label for='file' class="h3 mb-3 font-weight-normal">File Name</label>-->
      <!--<input type="file" id="image" name="image" class="form-control" required autofocus>-->
      <!--
      <input type="text" id="file" name="file">
      <input type="submit" value="Load weights & file">
      <button class="btn btn-lg btn-primary btn-block" onclick="showPicture()" type="submit">Start Object Detection</button>
      <img id="bg" class="center" src="http://img.tesco.com/Groceries/pi/118/5000175411118/IDShot_90x90.jpg"  style="display:none;width:80%">
    </form>
  </div>-->
    <!--<button onclick="showPicture()">Start Object Detection</button>
     <label for='model'>Model Name</label><br> 
      <img id="bg" class="center" src="{{ url_for('video_feed') }}" width="1130"  height="636">
     screen resolution 1920 X 1080 
    <input type=text name="yolo">
    width=1130
    -->  



<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Skin Cancer Detection</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-upload" method=post enctype=multipart/form-data>
      <h1 class="h3 mb-3 font-weight-normal">Please upload image</h1>
      <input type="file" id="image" name="image" class="form-control" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Predict</button>
      <br>
      {% if image_loc %}
        <img class="mb-4" src="static/{{image_loc}}" alt="" width="256" height="256">
        <h3 class="h3 mb-3 font-weight-normal">Prediction: {{prediction}}</h3>
      {%endif%}
    </form>
  </body>
</html>